In [1]:
#nested list with get method 

t=[1,2,3,(7,8,4) ,9,5]
data=t[3]
print(data[0])
print(data[1])
print(t[3][2])
t.remove(2)
print(t)

7
8
4
[1, 3, (7, 8, 4), 9, 5]

In [29]:
# Create frozensets (immutable sets)
s1 = frozenset([1, 2, 3])
s2 = frozenset([4, 5, 6])
s3 = frozenset([7, 8, 9])

# Create a set containing frozensets (nested set)
nested_set = {s1, s2, s3}

# Print the nested set
print("Nested Set:", nested_set)

# Access each frozenset and print its contents
for item in nested_set:
    print("Inner Set:", set(item))  # Convert frozenset to normal set for display

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}
Inner Set: {1, 2, 3}
Inner Set: {4, 5, 6}
Inner Set: {8, 9, 7}

In [33]:
#if else statement with operator
a=10
b=9
if(a+b)%2==0:
    print("it is even")
else:
    print("it is an odd number")

it is an odd number

In [39]:
#If else statement

x=int(input("Enter the value:"))
if x<=10:
    print("It is less tha 10")
elif x==10:
    print("It is equal")
else:
    print("x is greater than 10")

Enter the value: 9

It is less tha 10

In [3]:
#To check the datatype 

my_list=[1,2,3,4,9,7,45]
if isinstance(my_list, list):
    if len(my_list)<9:
        print("This is a large list")
    else:
        ('This is small list')

This is a large list

In [3]:
#formated string using print new version of dot formated method)

name="sharan"
age=20
print(name)
print(f'name:{name}, age:{age}')

sharan
name:sharan, age:20

In [57]:
#%s for string and %d for integer

name = "Sharanya"
age = 22
print("Hello, my name is %s and I am %d years old." % (name, age))

Hello, my name is Sharanya and I am 22 years old.

In [74]:


x=20
y=30
result= f'The sum of x:{x} and y:{y} is {x+y}.' if x+y<40 else f'The difference of y:{y} and x:{x} is {y-x}'
print(result)

The difference of y:30 and x:20 is 10

In [53]:
#.format method(Old version of formated string)



print("My name is {} and my age is {} ".format(name,age))

My name is sharan and my age is 20

In [ ]:
print("Name:", name, ",Age:", age)#muliple values printing

In [26]:
#string concadenate using print

print('name is :' +name + "," 'age:' +str(age))

name is :Sharanya,age:20

In [43]:
#length in for loop using print

my_list =[1,2,3,4,5]
for idx in my_list:
    print(idx)
    
for idx in range(len(my_list)):
    print(f'i:{idx} ,values:{my_list[idx]}')

1
2
3
4
5
i:0 ,values:1
i:1 ,values:2
i:2 ,values:3
i:3 ,values:4
i:4 ,values:5

In [15]:
#enumerate is used to find the index values in the code without using the length function we can print the index

for idx, item in enumerate(my_list):
    print(f'i: {idx}, item: {item}')

i: 0, item: 1
i: 1, item: 2
i: 2, item: 3
i: 3, item: 4
i: 4, item: 5

In [7]:
'''example code'''

color=["Green","red","white","black"]
for i, color in enumerate(color, start=1):
    print(f'color{i}: {color}')

color1: Green
color2: red
color3: white
color4: black

In [8]:
#normal list code

list_1=[]
for i in range(10):
    list_1.append(i)
print(list_1)


#list comprehension

list_2=[x for x in range(10)]
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#list comprehension with if condition 

list_3 = [y for y in range(10)if y%2==0 ]
list_3

[0, 2, 4, 6, 8]

In [8]:
'''PRACTICE CODE
formated string'''



name=input("Enter the name:")
age=int(input("Enter the age:"))
print(f'My name is {name} and age is {age}')

Enter the name: SHARAN
Enter the age: 20

My name is SHARAN and age is 20

In [14]:
name="sharanya"
print(f' my name is {name.upper()}')
print(f' my name is {name[::-1]}')

 my name is SHARANYA
 my name is aynarahs

In [25]:
n=int(input("enter the value:"))
if n%2==0:
    print(f'{n} is an even number')
else:
    print(f'{n} it is an odd number')

enter the value: 23

23 it is an odd number

In [21]:
lists=[23,4,5,6,78,8]
[lists.append(15) for i in range(1)]
lists

[23, 4, 5, 6, 78, 8, 15]

In [25]:
lists=[23,4,5,6,78,8]
[lists.insert(2,50) for i in range(1)]
lists

[23, 4, 50, 5, 6, 78, 8]

In [32]:
word=["hello world"]
words=[words.upper() for words in word]
words

['HELLO WORLD']

In [42]:
#list comprehension with fstring#


n=input("Enter the value:").split()
lengths=[len(lengths) for lengths in n]
print(f'The letter is {n} and length is {lengths}')

Enter the value: sharan

The letter is ['sharan'] and length is [6]

In [57]:
#To find the nested list in list comprehension#

o=[2,3,5,[24,67,34],45,56]
printed_67=[y for sublist in o if isinstance(sublist, list) for y in sublist if y==67]
print(printed_67)

[67]

In [4]:
#break, continue,pass#

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [7]:
var="sharan"
print(var.center(10,"*"))
print(var)

**sharan**
sharan

In [12]:
txt = "\n \t"

x = txt.isspace()

print(x)

True

In [5]:
x = 10
print(isinstance(x, int))

True

In [18]:
try:
    user = eval(input("Enter the value (e.g., [1, 2, 3, [4, 5, [6, 7]]]): "))
    
    if isinstance(user, list) and 4 in user[3]:
        print("user[3][0] 4 is got it")
    else:
        print("Not a valid nested list.")
except:
    print("Error: Please enter the list in correct format.")

Enter the value (e.g., [1, 2, 3, [4, 5, [6, 7]]]):  [1, 2, 3, [4, 5, [6, 7]]]

user[3][0] 4 is got it